/* boardReply container */
#wrap{
	width:100%;
	min-height:100vh;
	background: url("../../img/bg2.jpg") no-repeat 50%/ cover;
}
.container{
	width: 100%;
	height: auto;
}
.container .inner-container{
	width: 100%;
	height: auto;
}
.container .inner-container .boardReply{
	width: 100%;
	height: auto;
}
.container .inner-container .boardReply .sections{
	display: flex;
	justify-content: center;
	align-items: center;
  height: calc(100vh - 213px);
}
.container .inner-container .boardReply .sections .section.sec1{
	flex: 0 1 1200px;
}
.container .inner-container .boardReply .sections .section.sec1 .sec-con{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}
.container .inner-container .boardReply .sections .section.sec1 .sec-con .boardView-con{
	flex:0 1 590px; 
	background: #ffffffb8;
	text-align: center;
	border-radius: 25px;
	box-shadow: 10px 10px 10px #222222;
}
.container .inner-container .boardReply .sections .section.sec1 .sec-con .boardView-con h1.title{
	padding: 10px 0;
	background:  #184d47de;
	color: #FAD586;
	border-radius: 25px 25px 0 0;
}
.container .inner-container .boardReply .sections .section.sec1 .sec-con .boardView-con ul{}
.container .inner-container .boardReply .sections .section.sec1 .sec-con .boardView-con ul>li{
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	margin: 10px 0;
}
.container .inner-container .boardReply .sections .section.sec1 .sec-con .boardView-con ul>li:first-child{
	}
.container .inner-container .boardReply .sections .section.sec1 .sec-con .boardView-con ul>li>span.boardName{
	width: 10%;
	background: #184d47de;
	color: #FAD586;
	border-radius: 25px;
	margin-left: 5px;
}
.container .inner-container .boardReply .sections .section.sec1 .sec-con .boardView-con ul>li>span.boardTitle{
	background: #ffffff;
	width: 60%;
}
.container .inner-container .boardReply .sections .section.sec1 .sec-con .boardView-con ul>li>span.boardType{
	background: #ffffff;
	width: 10%;
}
.container .inner-container .boardReply .sections .section.sec1 .sec-con .boardView-con ul>li>span.boardLevel{
	background: #ffffff;
	width: 15%;
}
.container .inner-container .boardReply .sections .section.sec1 .sec-con .boardView-con ul>li>input{
	border: 1px solid;
	width: 70%;
	line-height: 40px;
	outline: 0;
	text-align: center;
}
.container .inner-container .boardReply .sections .section.sec1 .sec-con .boardView-con ul>li>span{
	line-height: 40px;
	width: 25%;
}
.container .inner-container .boardReply .sections .section.sec1 .sec-con .boardView-con ul>li:last-child{
	display: flex;
	justify-content: space-around;
}
.container .inner-container .boardReply .sections .section.sec1 .sec-con .boardView-con ul>li:last-child .b1{
	border: 0;
	outline: 0;
	width: 30%;
	background: #F55353;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.container .inner-container .boardReply .sections .section.sec1 .sec-con .boardView-con ul>li:last-child .b1:hover {
	background: #FEB139;
}
#boardContent{
	display: block;
	width: 100%;
	background: #ffffff;
	border: 1px solid;
	height: 400px;
	text-align: left;
	outline: 0;
	border: 0;
}